<ion-header>
  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h1>{{name}}</h1>
        <img src="{{image}}">
        <h1>$ {{price}} m.n.</h1>
        <br>
        <button ion-button full (click)="nextPage()">ORDENAR</button>
      </ion-col>
      <ion-col>
        <ion-item-group *ngIf="array_name != 'cold_drinks' && array_name != 'sodas'" radio-group [(ngModel)]="other">
          <ion-item-divider color="light">
            Temperatura
          </ion-item-divider>
          <ion-item>
            <ion-label>Caliente</ion-label>
            <ion-radio checked="true" value="Caliente"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Frío</ion-label>
            <ion-radio value="Frío"></ion-radio>
          </ion-item>
        </ion-item-group>

        <ion-item-group *ngIf="array_name == 'sodas'" radio-group [(ngModel)]="other_sodas">
            <ion-item-divider color="light">
              Temperatura
            </ion-item-divider>  
            <ion-item>
              <ion-label>Fría</ion-label>
              <ion-radio checked="true" value="Fría"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Al tiempo</ion-label>
              <ion-radio value="Al tiempo"></ion-radio>
            </ion-item>
          </ion-item-group>

        <ion-item-group radio-group [(ngModel)]="milk" *ngIf="array_name != 'sodas'">
          <ion-item-divider color="light">
            Leche
          </ion-item-divider>
          <ion-item>
            <ion-label>Ninguna</ion-label>
            <ion-radio checked="true" value="Ninguna"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Entera</ion-label>
            <ion-radio value="Entera"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Deslactosada</ion-label>
            <ion-radio value="Deslactosada"></ion-radio>
          </ion-item>

        </ion-item-group>

        <ion-item-group *ngIf="array_name != 'cold_drinks' && array_name != 'sodas'" radio-group [(ngModel)]="sweetener">
          <ion-item-divider color="light">
            Endulzante
          </ion-item-divider>
          <ion-item>
            <ion-label>Ninguno</ion-label>
            <ion-radio checked="true" value="Ninguno"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Azúcar</ion-label>
            <ion-radio value="Azúcar"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Miel</ion-label>
            <ion-radio value="Miel"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Splenda</ion-label>
            <ion-radio value="Splenda"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Stevia</ion-label>
            <ion-radio value="Stevia"></ion-radio>
          </ion-item>
        </ion-item-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>