page-videos {
    h1{
        font-size: 16pt!important;
        line-height: 1.5;
    }
    h2{
        text-transform: capitalize;
        font-size: 16pt!important;
        line-height: 1.5;
    }
    ion-card-title{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30pt!important;
    }  
}



