<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <h1>Café</h1>
          </ion-card-header>

          <ion-list *ngFor="let coffee of coffees">
            <button ion-item>
              <ion-icon name="ios-cafe" item-start></ion-icon>
              {{coffee.name}}
              <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            </button>
          </ion-list>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <h1>Té</h1>
          </ion-card-header>

          <ion-list *ngFor="let tea of teas">
            <button ion-item>
              <ion-icon name="ios-leaf" item-start></ion-icon>
              {{tea.name}}
              <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            </button>
          </ion-list>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <h1>Otros</h1>
          </ion-card-header>

          <ion-list *ngFor="let other of others">
            <button ion-item>
              <ion-icon name="ios-flower" item-start></ion-icon>
              {{other.name}}
              <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            </button>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>