<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <h1>Café</h1>
          </ion-card-header>

          <ion-list *ngFor="let coffee of coffees">
            <button ion-item (click)="openModal(coffee.id,'coffees')">
              <ion-icon name="ios-cafe" item-start></ion-icon>
              {{coffee.name}}
              <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            </button>
          </ion-list>
        </ion-card>
      </ion-col>


      <ion-col>
        <ion-card>
          <ion-card-header>
            <h1>Té</h1>
          </ion-card-header>
          <ion-list *ngFor="let tea of teas">
            <button ion-item (click)="openModal(tea.id,'teas')">
              <ion-icon name="ios-leaf" item-start></ion-icon>
              {{tea.name}}
              <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            </button>
          </ion-list>
        </ion-card>
      </ion-col>


      <ion-col>
        <ion-card>
          <ion-card-header>
            <h1>Bebidas frías</h1>
          </ion-card-header>
          <ion-list *ngFor="let cold of cold_drinks">
            <button ion-item (click)="openModal(cold.id,'cold_drinks')">
              <ion-icon name="ios-snow" item-start></ion-icon>
              {{cold.name}}
              <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            </button>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <h1>Sodas</h1>
          </ion-card-header>

          <ion-list *ngFor="let soda of sodas">
            <button ion-item (click)="openShowVideos(soda.name,'sodas',sodas.price_s)">
              <ion-icon name="ios-pint" item-start></ion-icon>
              {{soda.name}}
              <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            </button>
          </ion-list>
        </ion-card>
      </ion-col>


      <ion-col>
        <ion-card>
          <ion-card-header>
            <h1>Otros</h1>
          </ion-card-header>

          <ion-list *ngFor="let other of others">
            <button ion-item (click)="openModal(other.id,'others')">
              <ion-icon name="ios-flower" item-start></ion-icon>
              {{other.name}}
              <ion-icon name="ios-arrow-forward" item-end></ion-icon>
            </button>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>