<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inventory</ion-title>

    <ion-buttons end>
      <button ion-button color="primary" (click)="nextPage()" outline>Editar Elementos</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-row>
        <ion-col col-sm-1>
          <div> ID </div>
        </ion-col>
        <ion-col col-3>
          <div> PRUDUCTO </div>
        </ion-col>
        <ion-col>
          <div>CHICO</div>
        </ion-col>
        <ion-col>
          <div> MEDIANO</div>
        </ion-col>
        <ion-col col-sm-1>
          <div> GRANDE</div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-item-group>
    <ion-item-divider color="light">Cafés</ion-item-divider>
    <ion-item *ngFor="let coffee of coffees">
      <ion-row>
        <ion-col col-sm-1>
          <div> {{coffee.id}} </div>
        </ion-col>
        <ion-col col-3>
          <div>{{coffee.name}} </div>
        </ion-col>
        <ion-col>
          <div>{{coffee.price_s}}</div>
        </ion-col>
        <ion-col>
          <div>{{coffee.price_m}}</div>
        </ion-col>
        <ion-col col-sm-1>
          <div>{{coffee.price_l }}</div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">Tés</ion-item-divider>
    <ion-item *ngFor="let tea of teas">
      <ion-row>
        <ion-col col-sm-1>
          <div> {{tea.id}} </div>
        </ion-col>
        <ion-col col-3>
          <div>{{tea.name}}</div>
        </ion-col>
        <ion-col>
          <div> {{tea.price_s }}</div>
        </ion-col>
        <ion-col>
          <div> {{tea.price_m }}</div>
        </ion-col>
        <ion-col col-sm-1>
          <div> {{tea.price_l }}</div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">Bebidas frías</ion-item-divider>
    <ion-item *ngFor="let cold_drink of cold_drinks">
      <ion-row>
        <ion-col col-sm-1>
          <div> {{cold_drink.id}} </div>
        </ion-col>
        <ion-col col-3>
          <div> {{cold_drink.name}} </div>
        </ion-col>
        <ion-col>
          <div> {{cold_drink.price_s }}</div>
        </ion-col>
        <ion-col>
          <div> {{cold_drink.price_m }}</div>
        </ion-col>
        <ion-col col-sm-1>
          <div> {{cold_drink.price_l }}</div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">Otros</ion-item-divider>
    <ion-item *ngFor="let other of others">
      <ion-row>
        <ion-col col-sm-1>
          <div> {{other.id}} </div>
        </ion-col>
        <ion-col col-3>
          <div> {{other.name}} </div>
        </ion-col>
        <ion-col>
          <div> {{other.price_s }}</div>
        </ion-col>
        <ion-col>
          <div> {{other.price_m }}</div>
        </ion-col>
        <ion-col col-sm-1>
          <div> {{other.price_l }}</div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">Sodas</ion-item-divider>
    <ion-item *ngFor="let soda of sodas">
      <ion-row>
        <ion-col col-sm-1>
          <div> {{soda.id}} </div>
        </ion-col>
        <ion-col col-3>
          <div> {{soda.name}} </div>
        </ion-col>
        <ion-col>
          <div> {{soda.price_s }}</div>
        </ion-col>
        <ion-col>
          <div> {{soda.price_m }}</div>
        </ion-col>
        <ion-col col-sm-1>
          <div> {{soda.price_l }}</div>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-item-group>

</ion-content>