<ion-header>

  <ion-navbar>
    <ion-title>Inventory</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-row>
        <ion-col col-sm-1>
          <div> ID </div>
        </ion-col>
        <ion-col col-3>
          <div> PRUDUCTO </div>
        </ion-col>
        <ion-col>
          <div> CHICO</div>
        </ion-col>
        <ion-col>
          <div> MEDIANO</div>
        </ion-col>
        <ion-col>
          <div> GRANDE</div>
        </ion-col>
        <ion-col col-sm-1> </ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngFor="let coffee of coffees">
      <ion-row>
        <ion-col col-sm-1>
          <div> {{coffee.id}} </div>
        </ion-col>
        <ion-col col-3>
          <div>Café {{coffee.name}} </div>
        </ion-col>
        <ion-col>
          <div>{{coffee.priceSmall}}</div>
        </ion-col>
        <ion-col>
          <div>{{coffee.priceMedium}}</div>
        </ion-col>
        <ion-col>
          <div>{{coffee.priceLarge}}</div>
        </ion-col>
        <ion-col col-sm-1>
          <button ion-button (click)="onClickItem(item)">Editar</button>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngFor="let tea of teas">
      <ion-row>
        <ion-col col-sm-1>
          <div> {{tea.id}} </div>
        </ion-col>
        <ion-col col-3>
          <div>Té {{tea.name}} </div>
        </ion-col>
        <ion-col>
          <div> {{tea.priceSmall}}</div>
        </ion-col>
        <ion-col>
          <div> {{tea.priceMedium}}</div>
        </ion-col>
        <ion-col>
          <div> {{tea.priceLarge}}</div>
        </ion-col>
        <ion-col col-sm-1>
          <button ion-button (click)="onClickItem(item)">Editar</button>
        </ion-col>
      </ion-row>
    </ion-item>


    <ion-item *ngFor="let other of others">
      <ion-row>
        <ion-col col-sm-1>
          <div> {{other.id}} </div>
        </ion-col>
        <ion-col col-3>
          <div> {{other.name}} </div>
        </ion-col>
        <ion-col>
          <div> {{other.priceSmall}}</div>
        </ion-col>
        <ion-col>
          <div> {{other.priceMedium}}</div>
        </ion-col>
        <ion-col>
          <div> {{other.priceLarge}}</div>
        </ion-col>
        <ion-col col-sm-1>
          <button ion-button (click)="onClickItem(item)">Editar</button>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list>


</ion-content>